### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
player_data = {"Total Players" : [len(purchase_data['SN'].unique())]}
player_data_df = pd.DataFrame(player_data)
player_data_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_analysis = {"Number of Unique Items" : [len(purchase_data['Item Name'].unique())],
                     "Average Price" : [purchase_data['Price'].mean()] , 
                     "Number of Purchases" : [purchase_data['Purchase ID'].count()] , 
                     "Total Revenue" : [purchase_data['Price'].sum()]}
purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
male_count = len(purchase_data.loc[purchase_data['Gender'] == 'Male'])
female_count =  len(purchase_data.loc[purchase_data['Gender'] == 'Female'])
other_count = len(purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed'])
full_count = male_count + female_count + other_count
genders1 = purchase_data['Gender'].unique().tolist()
gender_data = {'Total Count' : [male_count, female_count, other_count], 
                'Percentage of Players' : [((male_count/full_count) * 100) , ((female_count/full_count) * 100) , ((other_count/full_count) * 100)],
                'Genders' : ['Male', 'Other / Non-Disclosed', 'Female']}
gender_data_df = pd.DataFrame(gender_data)
gender_data_df = gender_data_df.set_index('Genders')
gender_data_df

                       Total Count  Percentage of Players
Genders
Male                           652              83.589744
Other / Non-Disclosed          113              14.487179
Female                          15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
female_pur_total = purchase_data.groupby('Gender')['Price'].sum()['Female']
female_pur_count =  purchase_data.groupby('Gender')['Price'].count()['Female']
female_pur_avg =  purchase_data.groupby('Gender')['Price'].mean()['Female']
female_pur_avgper =  (purchase_data.groupby(['Gender' , 'SN'])['Price'].mean()['Female']).mean()
male_pur_total = purchase_data.groupby('Gender')['Price'].sum()['Male']
male_pur_count =  purchase_data.groupby('Gender')['Price'].count()['Male']
male_pur_avg =  purchase_data.groupby('Gender')['Price'].mean()['Male']
male_pur_avgper =  (purchase_data.groupby(['Gender' , 'SN'])['Price'].mean()['Male']).mean()
other_pur_total = purchase_data.groupby('Gender')['Price'].sum()['Other / Non-Disclosed']
other_pur_count =  purchase_data.groupby('Gender')['Price'].count()['Other / Non-Disclosed']
other_pur_avg =  purchase_data.groupby('Gender')['Price'].mean()['Other / Non-Disclosed']
other_pur_avgper =  (purchase_data.groupby(['Gender' , 'SN'])['Price'].mean()['Other / Non-Disclosed']).mean()
purchase_dic = {'Gender' : ['Female' , 'Male' , 'Other / Non-Disclosed'] ,
                                'Purchase Count' : [female_pur_count , male_pur_count, other_pur_count] ,
                                'Average Purchase Price' : [female_pur_avg , male_pur_avg, other_pur_avg] ,
                                'Total Purchase Value' : [female_pur_total , male_pur_total, other_pur_total] ,
                                'Average Total Purchase per Person' : [female_pur_avgper , male_pur_avgper, other_pur_avgper]}
purchase_summary = pd.DataFrame(purchase_dic)
purchase_summary = purchase_summary.set_index('Gender')
purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.194835
Male,652,3.017853,1967.64,3.014269
Other / Non-Disclosed,15,3.346000,50.19,3.348636

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
bins = [0,10,15,20,25,30,35,40,100]
labels = ['<10' , '10-14' , '15-19' , '20-24' , '25-29' , '30-34' , '35-39' , '40+']
temp = pd.cut(purchase_data['Age'], bins, labels = labels, right=False)
tester = pd.DataFrame(purchase_data.groupby(temp)['Age'].agg(['count']))
age_percentage = []
for row in tester['count']:
    age_percentage.append((row/(len(purchase_data['SN'].unique())))*100)
tester['percentage of players'] = age_percentage
tester

       count  percentage of players
Age
<10       23               3.993056
10-14     28               4.861111
15-19    136              23.611111
20-24    365              63.368056
25-29    101              17.534722
30-34     73              12.673611
35-39     41               7.118056
40+       13               2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
bins = [0,10,15,20,25,30,35,40,100]
labels = ['<10' , '10-14' , '15-19' , '20-24' , '25-29' , '30-34' , '35-39' , '40+']
temp1 = pd.cut(purchase_data['Age'], bins, labels = labels, right=False)
tester1 = pd.DataFrame(purchase_data.groupby(temp)['Price'].agg(['count','sum','mean']))
tester1 = tester1.rename(columns = {'count' : 'Purchase Count' ,
                                    'sum' : 'Total Purchase' ,
                                    'mean' : 'Average Purchase Price'})
tester1

       Purchase Count  Total Purchase  Average Purchase Price
Age
<10                23           77.13                3.353478
10-14              28           82.78                2.956429
15-19             136          412.89                3.035956
20-24             365         1114.06                3.052219
25-29             101          293.00                2.900990
30-34              73          214.00                2.931507
35-39              41          147.67                3.601707
40+                13           38.24                2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
top_spenders = pd.DataFrame(purchase_data.groupby('SN').SN.count())
top_spenders = top_spenders.rename(columns = {'SN' : 'Purchase Count'})
top_spenders['Average Purchase Price'] = purchase_data.groupby('SN').Price.mean()
top_spenders['Total Purchase Value'] = purchase_data.groupby('SN').Price.sum()
top_spenders.nlargest(5, 'Total Purchase Value')

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [82]:
purchase_data = purchase_data.rename(columns = {'Item Name' : 'ItemName' })
pop_items = pd.DataFrame((purchase_data.groupby(['ItemName' , 'ItemID' , 'Price'])).ItemName.count())
pop_items = pop_items.rename( columns = {'ItemName' : 'Total Purchases'})   
pop_items = pop_items.reset_index(level = ['Price'])
pop_items['Total Purchase Value'] = pop_items['Price'] * pop_items['Total Purchases']
pop_items.nlargest(5,'Total Purchases')

,,Price,Total Purchases,Total Purchase Value
ItemName,ItemID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,4.23,12,50.76
"Extraction, Quickblade Of Trembling Hands",108,3.53,9,31.77
Fiery Glass Crusader,145,4.58,9,41.22
Nirvana,82,4.90,9,44.10
Brutality Ivory Warmace,75,2.42,8,19.36

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [83]:
pop_items.nlargest(5, 'Total Purchase Value')

,,Price,Total Purchases,Total Purchase Value
ItemName,ItemID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,4.23,12,50.76
Nirvana,82,4.90,9,44.10
Fiery Glass Crusader,145,4.58,9,41.22
Final Critic,92,4.88,8,39.04
Singed Scalpel,103,4.35,8,34.80